.container- {
  /*   position: absolute;   */
  top: 81px;
  left: 1px;
  background-color: #f9fbfc;
  width: 1439px;
  height: 6049px;
}
.hero-image {
  /*   position: absolute;   */
  top: 81px;
  left: 0;
  width: 1441px;
  height: 700px;
  object-fit: cover;
}
.header-child {
  /*   position: absolute;   */
  top: 0;
  left: 0;
  background-color: var(--background);
  width: 962px;
  height: 59px;
}
.home {
  /*   position: absolute;   */
  top: 13px;
  left: 54px;
  line-height: 25px;
  display: inline-block;
  width: 96px;
  height: 46px;
}
.about-sme-fund {
  /*   position: absolute;   */
  left: 214px;
}
.about-sme-fund,
.application,
.how-it-works {
  top: 13px;
  line-height: 25px;
  cursor: pointer;
}
.application {
  /*   position: absolute;   */
  left: 454px;
}
.how-it-works {
  left: 634px;
}

.faqs {
  top: 13px;
  left: 814px;
  line-height: 25px;
}
.header {
  top: 80px;
  left: 220px;
  width: 962px;
  height: 59px;
  color: var(--color-gold);
}
.get-financing-for {
  /*   position: absolute;   */
  top: 201px;
  left: 794px;
  font-size: 60px;
  letter-spacing: 1px;
  line-height: 65px;
  display: flex;
  color: var(--background);
  align-items: center;
  width: 577px;
  height: 180px;
}
.turn-your-business {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.blank-line {
  margin: 0;
  padding:0px;
}
.turn-your-business-container {
  margin: 0;
  /*   position: absolute;   */
  top: 379px;
  left: 794px;
  letter-spacing: 0.01em;
  line-height: 40px;
  font-weight: 600;
  font-family: inherit;
  color: var(--background);
  display: inline-block;
  width: 452px;
  height: 165px;
  font-size: inherit;
}
.content-text,
.view-application-process {
  line-height: 32px;
  color: var(--background);
  text-align: center;
}
.view-application-process {
  /*   position: absolute;   */
  top: 597px;
  left: 814px;
  font-size: var(--font-size-xs);
  text-decoration: underline;
  display: inline-block;
  width: 340px;
  height: 32px;
}
.content-text {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.icon-start {
  position: relative;
  /* width: 16px;
  height: 20px; */
  flex-shrink: 0;
  overflow: hidden;
}

.about-sme .container{
  border-radius: 25px !important;
}

.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-7xs);
  background-color: var(--other-green);
  /*   position: absolute;   */
  top: 779px;
  left: 869px;
  box-shadow: 0-2px 0#002d18 inset;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.choose-between-a,
.welcome-to-sme {
  /*   position: absolute;   */
  top: 1024px;
  left: 580px;
  font-size: var(--font-size-xl);
  line-height: 40px;
  font-weight: 600;
}
.choose-between-a {
  top: 1070px;
  left: 324px;
  line-height: 24px;
  font-weight: 300;
  color: var(--color-mediumseagreen);
  text-align: center;
  display: inline-block;
  width: 801px;
  height: 64px;
}
.landing-page-inner {
  /*   position: absolute;   */
  top: 1193px;
  left: 159px;
  border-radius: 30px;
  background-color: var(--color-mediumseagreen);
  width: 1135px;
  height: 370px;
}
.about-the-fund {
  /*   position: absolute;   */
  top: 1193px;
  left: 605px;
  font-size: var(--font-size-5xl);
  line-height: 40px;
  display: flex;
  color: var(--color-black);
  align-items: center;
  width: 231px;
  height: 59px;
}

.sme-fund-kenya-container {
  /*   position: absolute;   */
  top: 1270px;
  left: 175px;
  font-size: var(--font-inherit);
  line-height: 24px;
  font-family: var(--font-inherit);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 1090px;
  height: 268px;
}
.fair-and-transaparent-child {
  /*   position: absolute;   */
  top: 0;
  left: 0;
  width: 232px;
  height: 232px;
}
.last-quarter-icon {
  /*   position: absolute;   */
  top: 57px;
  left: 92px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.fair-transparent {
  /*   position: absolute;   */
  top: 119px;
  left: 27px;
  line-height: 40px;
  display: flex;
  align-items: center;
  width: 224px;
  height: 41px;
}
.fair-and-transaparent {
  /*   position: absolute;   */
  top: 1601px;
  left: 261px;
  width: 251px;
  height: 232px;
  font-size: var(--font-size-xl);
}
.protect-icon {
  /*   position: absolute;   */
  top: 57px;
  left: 93px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.private-and-secure1 {
  /*   position: absolute;   */
  top: 119px;
  left: 22px;
  line-height: 40px;
  display: flex;
  align-items: center;
  width: 197px;
  height: 41px;
}
.private-and-secure {
  /*   position: absolute;   */
  top: 1601px;
  left: 604px;
  width: 232px;
  height: 232px;
  font-size: var(--font-size-xl);
}
.low-interest1 {
  /*   position: absolute;   */
  top: 119px;
  left: 57px;
  line-height: 40px;
  display: flex;
  align-items: center;
  width: 134px;
  height: 41px;
}
.low-interest {
  /*   position: absolute;   */
  top: 1601px;
  left: 942px;
  width: 232px;
  height: 232px;
  font-size: var(--font-size-xl);
}
.frame-empowerment-child {
  /*   position: absolute;   */
  top: 351;
  left: 50;
  background-color: var(--background);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 436px;
  height: 536px;
}
.group-empowerment {
  /*   position: absolute;   */
  top: 1150px;
  left: 207px;
  line-height: 40px;
  display: inline-block;
  width: 268px;
  height: 46px;
}
.group-empowerment-image {
  /*   position: absolute;   */
  top: 17px;
  left: 35px;
  width: 366px;
  height: 326px;
  object-fit: cover;
}
.group-empowerment h5{
  /*   position: absolute;   */
  top: 392px;
  left: 37px;
  letter-spacing: 1px;
  /* line-height: 20px; */
  display: inline-block;
  width: 364px;
  /* height: 54px; */
}
.group-empowerment p{
  /*   position: absolute;   */
  top: 392px;
  left: 37px;
  font-size:16px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
  line-height: 24px;
  display: inline-block;
  width: 364px;
  height: 54px;
}

.button1 {
  cursor: pointer;
  border: 0;
  padding:30px;
  background-color: var(--other-green);
  /*   position: absolute;   */
  top: 471px;
  left: 273px;
  bottom: 10px;
  box-shadow: 0-2px 0#002d18 inset;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.button-text {
  position: relative;
  line-height: 15px;
  font:normal 16px "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: var(--background);
  text-align: center;
}

.individual-empowerment {
  /*   position: absolute;   */
  top:1150px;
  left: 700px;
  width: 436px;
  height: 536px;
  color: var(--color-black);
}
.individual-empowerment-image {
  /*   position: absolute;   */
  top: 17px;
  left: 35px;
  width: 366px;
  height: 326px;
  /* padding-top:50px; */
  object-fit: cover;
}
.individual-empowerment1 {
  /*   position: absolute;   */
  top: 351px;
  left: 40px;
  line-height: 40px;
  display: inline-block;
  width: 302px;
  height: 46px;
}

.individual-empowerment1 p{
  /*   position: absolute;   */
  top:1150px;
  left: 751px;
  width: 436px;
  height: 536px;
  color: var(--color-black);
}

.button2 {
  cursor: pointer;
  border: 0;
  padding: 20px;
  background-color: var(--other-green);
  /*   position: absolute;   */
  top: 471px;
  left: 283px;
  box-shadow: 0-2px 0#002d18 inset;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
/* .rectangle{
    position: absolute;  
  top: 1800px;
  left: 159px;
  border-radius: 12px;
  background-color: var(--background);
  width: 1123px;
  height: 402px;
}  */

.rectangles{
  background-color: var(--background); 
}

.features-and-benefits,
.here-is-what {
  /*   position: absolute;   */
  font-size: var(--font-size-xl);
  line-height: 40px;
}
.here-is-what {
  top: 1800px;
  left: 422px;
  font-weight: 600;
  color: var(--color-black);
}
.features-and-benefits {
  top: 1825px;
  left: 610px;
  font-weight: 500;
  display: inline-block;
  width: 221px;
  height: 38px;
}
.loan-amount-kes,
.we-offer-a {
  /*   position: absolute;   */
  left: 88px;
  display: inline-block;
}
.loan-amount-kes {
  top: 0;
  line-height: 40px;
  font-weight: 600;
  width: 406px;
  height: 33px;
}
.we-offer-a {
  top: 36px;
  font-size: var(--font-size-sm);
  letter-spacing: 1px;
  line-height: 20px;
  color: var(--color-black);
  width: 416px;
  height: 54px;
}
.icon-dollar-circle {
  /*   position: absolute;   */
  /* height: 64.44%;
  width: 11.51%; */
  top: 25.56%;
  right: 88.49%;
  bottom: 10%;
  left: 0;
  /* max-width: 100%; */
  overflow: hidden;
  /* max-height: 100%; */
}
.loan-amount {
  /*   position: absolute;   */
  top: 1850px;
  left: 191px;
  width: 504px;
  height: 90px;
  color: var(--color-mediumseagreen);
}
.loan-duration-is,
.we-offer-long {
  /*   position: absolute;   */
  left: 86px;
  display: inline-block;
}
.loan-duration-is {
  top: 0;
  line-height: 40px;
  font-weight: 600;
  width: 286px;
  height: 33px;
}
.we-offer-long {
  top: 39px;
  font-size: var(--font-size-sm);
  letter-spacing: 1px;
  line-height: 20px;
  color: var(--color-black);
  width: 350px;
  height: 66px;
}
.icon-clock {
  /*   position: absolute;   */
  /* height: 55.24%;
  width: 13.3%; */
  top: 25.71%;
  right: 86.7%;
  bottom: 19.05%;
  left: 0;
  /* max-width: 100%; */
  overflow: hidden;
  /* max-height: 100%; */
}
.loan-duration {
  /*   position: absolute;   */
  top: 1925px;
  left: 191px;
  width: 436px;
  height: 105px;
  color: var(--color-mediumseagreen);
}
.our-aim-is,
.quick-processing1 {
  /*   position: absolute;   */
  left: 86px;
  display: inline-block;
}
.quick-processing1 {
  top: 0;
  line-height: 40px;
  font-weight: 600;
  width: 406px;
  height: 33px;
}
.our-aim-is {
  top: 36px;
  font-size: var(--font-size-sm);
  letter-spacing: 1px;
  line-height: 20px;
  color: var(--color-black);
  width: 379px;
  height: 76px;
}
.icon-timer-1 {
  /*   position: absolute;   */
  top: 19.64%;
  right: 88.21%;
  bottom: 20.63%;
  left: 0;
  /* max-width: 100%; */
  overflow: hidden;
  /* max-height: 100%; */
}
.quick-processing {
  /*   position: absolute;   */
  top: 1850px;
  left: 777px;
  width: 492px;
  height: 112px;
  color: var(--color-mediumseagreen);
}
.competitive-interest-rate,
.we-offer-5 {
  /*   position: absolute;   */
  left: 86px;
  display: inline-block;
}
.competitive-interest-rate {
  top: 0;
  line-height: 40px;
  font-weight: 600;
  width: 276px;
  height: 33px;
}
.we-offer-5 {
  top: 38px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.01em;
  line-height: 20px;
  color: var(--color-black);
  width: 316px;
  height: 52px;
}
.icon-percentage-circle {
  /*   position: absolute;   */
  height: 64.44%;
  width: 14.43%;
  top: 23.33%;
  right: 85.57%;
  bottom: 12.22%;
  left: 0;
  /* max-width: 100%; */
  overflow: hidden;
  /* max-height: 100%; */
}
.competitive-interest {
  /*   position: absolute;   */
  top: 1950px;
  left: 777px;
  width: 402px;
  height: 90px;
  color: var(--color-mediumseagreen);
}
.requirement {
  /*   position: absolute;   */
  top: 2250px;
  left: 160px;
  width: 561px;
  height: 376px;
  font-size: var(--font-size-xl);
}
.requirements-child { 
  top: 2250;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: #93e396;
  width: 561px;
  height: 376px;
}
.requirements1 {
  /*   position: absolute;   */
  top: 19px;
  left: 36px;
  line-height: 40px;
  font-weight: 500;
  padding-left: 20px;
}
.kyc-documents-container {
  /*   position: absolute;   */
  top: 68px;
  left: 28px;
  font-size: 16px;
  line-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-black);
  display: inline-block;
  width: 512px;
  height: 267px;
  padding-left: 20px;
}
.requirements-item {
  /*   position: absolute;   */
  top: 55.5px;
  left: 32.5px;
  border-top: 1px solid var(--color-gold);
  box-sizing: border-box;
  width: 469px;
  height: 1px;
  padding-left: 20px;
}

.choose-your-loan {
  margin-bottom: 0;
}
.choose-your-loan-package-enter {
  margin: 0;
  padding-left: var(--padding-2xl);
}

.securities-child {
  /*   position: absolute;   */
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 333px;
  height: 312px;
}
.securities1,
.title-deeds-log-container {
  /*   position: absolute;   */
  top: 10px;
  left: 31px;
  line-height: 30px;
  font-weight: 500;
  padding-left: 20px;
  margin-top: 5px;
}
.title-deeds-log-container {
  top: 89px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-mediumseagreen);
  display: inline-block;
  width: 235px;
}
.securities-item {
  /*   position: absolute;   */
  top: 59.5px;
  left: 30.5px;
  border-top: 1px solid var(--color-gold);
  box-sizing: border-box;
  width: 276px;
  height: 1px;
}
.securities {
  /*   position: absolute;   */
  top: 2250px;
  left: 863px;
  width: 333px;
  height: 312px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.empower-your-chama-image {
  /*   position: absolute;   */
  top: 0;
  left: 2px;
  width: 1444px;
  height: 490px;
  object-fit: cover;
}
.at-sme-fund,
.empower-your-chama1 {
  /*   position: absolute;   */
  display: inline-block;
}
.empower-your-chama1 {
  top: 73px;
  left: 548px;
  line-height: 40px;
  font-weight: 600;
  width: 345px;
  height: 48px;
}
.at-sme-fund {
  top: 152px;
  left: 365px;
  font-size: var(--font-size-base);
  line-height: 30px;
  text-align: center;
  width: 714px;
  height: 82px;
}
.button3 {
  cursor: pointer;
  border: 50px;
  padding: 10px;
  background-color: var(--other-green);
  /*   position: absolute;   */
  top: 268px;
  left: 642px;
  /*box-shadow: 0-2px 0#002d18 inset;*/
  overflow: hidden;
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.empower-your-chama {
  /*   position: absolute;   */
  top: 26
  50px;
  left: -2px;
  width: 1444px;
  height: 490px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}

.how-it-works-item {
  /*   position: absolute;   */
  top: 59.5px;
  left: 506.5px;
  border-top: 1px solid var(--color-gold);
  box-sizing: border-box;
  width: 292px;
  height: 1px;
  margin-left: 500px;
}
.how-it-works1 {
  /*   position: absolute;   */
  top: 3946px;
  left: 68px;
  /* width: 1304px; */
  /* height: 1590px; */
  /* font-size: var(--font-size-xl); */
  color: var(--color-black);
}
.how-it-works-child {
  /*   position: absolute;   */
  top: 0;
  left: 0;
  background-color: #94ff98;
  width: 100%;
  /* height: 1590px; */
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
/*.how-it-works2 {
  /*   position: absolute;   
  top: 11px;
  left: 576px;
  font-size: var(--font-size-5xl);
  line-height: 40px;
} **/
/* .choose-your-preferred {
  font-weight: 500;
} */
.step-1-choose-container {
  /*   position: absolute;   */
  top: 104px;
  left: 652px;
  line-height: 40px;
  display: inline-block;
  width: 508px;
  height: 56px;
  text-align: left;

}
/* .to-get-started {
  top: 146px;
  font-size: var(--font-size-base);
  line-height: 30px;
  width: 564px;
  height: 136px;
} */
.step-2-fill-container{
  /*   position: absolute;   */
  top: 399px;
  left: 144px;
  line-height: 40px;
  text-align: right;
  display: inline-block;
  width: 508px;
  height: 56px;
}
/* .we-need-to {
  top: 441px;
  left: 86px;
  font-size: var(--font-size-base);
  line-height: 30px;
  width: 566px;
  height: 177px;
} */
.step-3-fill-container {
  /*   position: absolute;   */
  top: 727px;
  left: 661px;
  line-height: 40px;
  display: inline-block;
  width: 508px;
  height: 56px;
  text-align: left;
}
/* .next-you-enter {
  top: 771px;
  left: 662px;
  font-size: var(--font-size-base);
  line-height: 30px;
  width: 545px;
  height: 154px;
} */
.step-4-upload-container {
  /*   position: absolute;   */
  top: 1060px;
  left: 139px;
  line-height: 40px;
  text-align: right;
  display: inline-block;
  width: 508px;
  height: 56px;
}
/* .to-complete-your {
  top: 1107px;
  left: 85px;
  font-size: var(--font-size-base);
  line-height: 30px;
  width: 562px;
  height: 220px;
} */


.button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-xs) var(--padding-6xs);
  background-color: var(--other-green);
  /*   position: absolute;   */
  top: 21px;
  left: 1205px;
  box-shadow: 0-2px 0#002d18 inset;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-text5 {
  position: relative;
  line-height: 25px;
}
.button5 {
  /*   position: absolute;   */
  top: 21px;
  left: 1078px;
  background-color: var(--color-cornflowerblue);
  box-shadow: 0-2px 0#929191 inset;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs) var(--padding-6xs);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}
.logo-item {
  /*   position: absolute;   */
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
}
.sugar-cube-icon1 {
  /*   position: absolute;   */
  top: 0.84px;
  left: 0.84px;
  width: 40.32px;
  height: 40.32px;
  object-fit: cover;
}
.logo1 {
  /*   position: absolute;   */
  top: 21px;
  left: 46px;
  width: 42px;
  height: 42px;
}
.landing-page {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  overflow-x: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--text-primary);
  font-family: var(--font-inter);
}

.content-main-section{
  position: relative;
  background-image: url(images/Heroimage.jpg);
  background-color: red;
}


button.button2,button.button1{
  height: 50px !important;
}
#bernefits .img_cont{
  width: 100px !important;
  height: 100% !important;
}
#bernefits img{
  width: 60px !important;
  height: 60px !important;
  object-fit: scale-down;
  margin-right: 10px;
  max-width: unset !important;
  max-height: unset !important;
}
.rectangles{
  background-color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.empower-your-chama{
  position: relative;
  display: flex;
  align-items: center;
  width: 100dvw;
  overflow: hidden;
}
img.empower-your-chama-child{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.at-sme-fund{
  position: absolute;
  height: fit-content;
  width: fit-content;
  margin: auto;
  /* top: 10%;
  bottom: 10%; */
  z-index: 43534654654;
}